#main-container {
    width: 33%;
    margin: 100px auto;
}

#card-container {
    position: relative; 
    padding: 1rem; 
    border-radius: 0.5rem; 
    background-color: #ffffff; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 

    @media (min-width: 640px) { 
        padding: 1.25rem; 
    }
}

#name-div {
    display: flex; 
    padding-bottom: 1rem; 
    margin-bottom: 1rem; 
    justify-content: space-between; 
    align-items: center; 
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; 
    border-bottom-width: 1px; 

    @media (min-width: 640px) { 
        margin-bottom: 1.25rem; 
    }
}

#name-div-2 {
    display: flex; 
    margin-bottom: -0.75rem; 
    align-items: center; 
}

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 600; 
    color: #111827; 
}

span {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    margin-top: 0.125rem; 
    margin-left: 1rem; 
    border-radius: 0.5rem; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 500; 
    color: #2563EB; 
    background-color: #BFDBFE; 
}

#place-div {
    display: flex; 
    margin-bottom: 1rem; 
    justify-content: space-between; 
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; 
    
    @media (min-width: 640px) { 
        margin-bottom: 1.25rem; 
    }
}

#place-div-2 {
    font-size: 1.125rem;
    line-height: 1.75rem; 
    color: #111827; 

    @media (min-width: 768px) { 
        font-size: 1.25rem;
        line-height: 1.75rem; 
    }
}

#place-div-3 {
    display: flex;
    align-items: center;
}

#location-svg {
    width: 1.25rem; 
    height: 1.25rem; 
    color: #0284c7;
}

#city-text {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 300; 
    color: #6B7280; 
}

#date-svg {
    margin-right: 0.25rem; 
    margin-left: 1rem; 
    width: 1.25rem; 
    height: 1.25rem; 
    color: #0284c7;
}

#date-text {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 300; 
    color: #6B7280; 
}

#description-div {
    display: flex; 
    align-items: center; 
}

#description-text {
    font-weight: 300; 
    color: #6B7280; 
}

#place-div {
    display: flex; 
    margin-top: 0.75rem; 
    align-items: center; 
}

strong {
    font-weight: 600; 
    color: #111827; 
}

#place-text {
    font-weight: 300; 
    color: #6B7280; 
}

#price-text {
    margin-top: 0.5rem; 
    color: #10B981; 
}