@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&family=Trade+Winds&display=swap');

section {
    padding: 4rem 8rem; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    background-color: #dfeffabe; 
}


#title {
    text-align: center;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #5066ae;
}

#header-div {
    padding-left: 1rem;
    padding-right: 1rem; 
    max-width: 1280px; 

    @media (min-width: 1024px) { 
        padding-left: 3rem;
        padding-right: 3rem; 
    }
}

#header-div-2 {
    overflow: hidden; 
    position: relative; 
    background-color: #ffffff; 

    @media (min-width: 640px) { 
        border-radius: 0.5rem; 
    }
}

#header-div-3 {
    display: flex; 
    padding: 1rem; 
    margin-top: 0.75rem; 
    margin-top: 0.875rem; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    @media (min-width: 768px) { 
        margin-left: 1rem; 
        margin-top: 0; 
        flex-direction: row; 
    }
}

#header-div-4 {
    display: flex;
    align-items: center;
    width: 100%
}

form {
    display: flex; 
    align-items: center; 
    width: 300px;
}

label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0; 
}

#header-div-5 {
    position: relative; 
    display: flex;
    width: 900px;
}

#header-div-6 {
    display: flex; 
    position: absolute; 
    width: 700px;
    top: 0;
    bottom: 0; 
    left: 0; 
    padding-left: 0.75rem; 
    align-items: center; 
    justify-content: center;
    pointer-events: none; 
}

#svg-search {
    width: 1.25rem; 
    height: 1.25rem; 
    color: #6B7280; 
    position: fixed;
    margin-right: 220px;
}

#simple-search {
    display: block; 
    padding: 0.5rem; 
    padding-left: 1.5rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    width: 90%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #111827; 
    background-color: #F9FAFB; 
}

#add-button {
    width: 170px;
    height: 40px;
    margin-left: 25%;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border: solid 2px #0284c7;
    color: #0284c7;
    border-radius: 10px;
    font-weight: 500;
}

#add-button:hover {
    color: white;
    background-color: #0284c7;

    #add-svg {
        color: white;
    }
}

#add-svg {
    margin: 0.5rem; 
    height: 1.5rem; 
    color: #0284c7;
}

#list-div {
    overflow-x: auto; 
}

table {
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    text-align: left; 
    color: #6B7280; 
}

thead {
    font-size: 0.75rem;
    line-height: 1rem; 
    color:#374151; 
    text-transform: uppercase; 
    background-color: #ebefef; 
}

th {
    padding: 1rem;
    width: 180px;
}

#tr-body {
    border-bottom-width: 1px; 
    border-color: #c2c8d3; 
}

#th-body {
    padding: 1rem;
    display: flex;
    gap: 0px 10px;
}

#details-div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    height: 100%; 
    width: 35%;
    border-color: #0284c7;
    
    :hover {
        border-radius: 0.5rem; 
        background-color: #0284c7;

        #details-svg {
            color: white;
        }
    }
}

#details-button {
    width: 100%;
    height: 100%;
}

#details-svg {
    margin: 0.5rem; 
    height: 1.5rem; 
    color: #0284c7;
}

#edit-div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    height: 100%; 
    width: 35%;
    border-color: #16a34a;
    
    :hover {
        border-radius: 0.5rem; 
        background-color: #16a34a;

        #edit-svg {
            color: white;
        }
    }
}

#edit-button {
    width: 100%;
    height: 100%;
}

#edit-svg {
    margin: 0.5rem; 
    width: 1.5rem; 
    color: #16a34a;
}

#delete-div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    height: 100%; 
    width: 35%;
    border-color: #dc2626;
    
    :hover {
        border-radius: 0.5rem; 
        background-color: #dc2626;

        #delete-svg {
            color: white;
        }
    }
}

#delete-button {
    width: 100%;
    height: 100%;
}

#delete-svg {
    margin: 0.5rem; 
    width: 1.5rem; 
    color: #dc2626;
}

#th-body-2 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    font-weight: 500; 
    color: #111827; 
    white-space: nowrap; 
}

.body-td-1 {
    padding: 0.75rem 1rem;
}

.body-td-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 12rem;
}

.body-td-3 {
    text-align: left; 
}

#no-events {
    text-align: center;
    font-weight: 600;
    width: 100%;
    background-color: #f9fafb;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 2rem 0;
}